.button-style  {
  justify-self: center;
  width: 184px;
  height: 45px;
  border: none;
  border-radius: 8px;
  background-color: #E32121;
  box-shadow: 0px 8px 16px rgba(255, 0, 92, 0.16);
  color: #fff;
  cursor: pointer;
  outline: none;
  animation: bounceIn 1s ease-in;

}

.button-style:hover {
  opacity: 0.9;
}

@media(max-width: 570px) {
  .button-style  {
    width: 144px;

  }
}


