
.modal-content header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.modal-content header span {
  font-weight: bold;
  font-size: 20px;
}

.modal-content header img {
  cursor: pointer;
}

.modal-content .description-block {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.modal-content .description-block span {
  width: 80%;
  margin-bottom: 20px;
}

.modal-content .description-block h3 {
  font-weight: bold;
}

.modal-content .description-block section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.modal-content .description-block app-button {
  margin: 0 auto;
}





