<div class="modal-content">
  <header>
    <span>Detalhamento</span>
    <img src="../../../assets/close.svg" alt="Ícone de fechar" mat-button (click)="onNoClick()" />
  </header>

  <div class="description-block">

      <span>
        {{ detailsItem.description }}
      </span>
      
      <h3>
        Ingredientes:
      </h3>

      <section>
        <span *ngFor="let recipe of detailsItem.menu">
          {{ recipe.name }} -> {{ recipe.quantity }}
        </span>
      </section>
  
    <app-button text="Ok" mat-button (click)="onNoClick()" ></app-button>
  </div>
</div>
